# Git
.git
.gitignore
.gitattributes

# Documentation
*.md
README*

# Docker files
docker-compose*.yml
Dockerfile*

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment
.env*

